.home{
    background: var(--bg-color) var(--bg-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 100%; 
    min-width: 25rem;
}
.home-wrapper{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    padding: 0;
    position: relative;
    max-width: 1000px;
    min-width: 25rem;
}
.home-text-wrapper{
    position: relative;
    margin: 8rem 5rem 0px 2.5rem;
    padding-top: 6rem;
    min-width: 15rem;
}
.home-title{
    margin: 0;
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
    color: var(--secondary-color);
}
.home-subtitle{
    margin: 0;
    padding-top: 1rem;
    font-size: 54px;
    font-style: normal;
    font-weight: normal;
}   




@media screen and (max-width: 800px) {
    .home-wrapper{
        height: 700px;
        width: 100%;
       
    }
    .home-text-wrapper{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-title{
        font-size: 3rem;
        align-items: center;
    }
    .home-subtitle{
        font-size: 2rem;
    }
  }