.container {
    right: 1.3rem;
}

.container .toggle_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary-color)
}

.container .toggle_button span {
    justify-self: center;
    font-size: 1.5rem;
}

.toggle_button:focus {
    outline: none;
}


@media screen and (min-width: 600px) {
    .toggle_button {display: none}
}

@media screen and (max-width: 600px) {
    .toggle_button span {
        margin: 0;
    }
}